.section-skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.section-skills-title {
	margin-top: 125px;
	padding: 20px 0;
	font-size: 35px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.section-skills-box {
	display: flex;
	flex-direction: column;
	gap: 50px;
	color: #fff;
}

.section-skills-item {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	font-size: 25px;
}

.section-skills-item-text {
	text-transform: uppercase;
}

.section-skills-picture {
	width: 75px;
	height: 75px;
	object-fit: contain;
}
