.about-me {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 25px;
	color: #fff;
}

.about-me-title,
.about-me-text {
	text-align: center;
}

@media (max-width: 980px) {
	.about-me {
		font-size: 20px;
	}
}

@media (max-width: 650px) {
	.about-me {
		font-size: 15px;
	}
}

@media (max-width: 450px) {
	.about-me {
		font-size: 12px;
	}
}

@media (max-width: 300px) {
	.about-me {
		font-size: 10px;
	}
}
